p {
  font-family: Lato;
}

table.sjs-table > tbody > tr:first-child > td {
     background-color: lightgreen;
}

.filterData{
  display: flex;
  flex-direction: column;
  height: 5rem !important;
  width: 15rem !important;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}